.grids > * {
	outline:1px dashed black;	
}

.grids > * > * {
	outline:1px dashed red;	
}

.grids > * > * > * {
	outline:1px dashed blue;	
}

.grids > * > * > *  > *{
	outline:1px dashed green;	
}

a {
	text-decoration:none;	
}

/*--- Header ---*/

.header_floor {
	width:980px;
	height:72px;
	margin:0 auto;	
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.logo_link {
	width:138px;
	height:72px;	
	display:block;
	margin: 0 150px 0 0;
}

.logo {
	background-image:url(../_image/Logo.png);
	background-repeat:no-repeat;
	height:inherit;
	width:inherit;
}

.top_menu {
	height:72px;
}

.top_menu menu {
	padding:0;
	margin:0;	
}

.top_menu .menu_items a {
	display:block;	
	border-left:1px solid #CCC;
	padding:0 18px;
	height:72px;
	line-height:72px;
}

search_form {
	padding:0;
	margin:0;
	border:none;
	outline:none;
	
}

.search {
	width:100px;
	height:71px;
	padding-left: 40px;
	margin:0;
	font-size: 15px;
	color: #CCC;
	text-transform: uppercase;
	background-image:url(../_image/search.png);
	background-repeat:no-repeat;
	background-position:left;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border:none;
}

/*--- Slideshow ---*/

.slidshow {
	height:459px;	
}

.slideshow_floor img {
	height:auto;
}
