a {
	text-decoration:none;	
}

/*--- Buttons ---*/

.more_btn {
	text-align:center;
	margin:15px auto;	
	width:150px;
}

.more_btn a {
	display:block;
	color:white;
	width:inherit;
	height:inherit;
	background-color:transparent;
	box-shadow:0 0 5px black;
	text-transform:capitalize;
	border-radius:5px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;	
	padding:10px 10px;
}

.more_btn a:hover {
	box-shadow:0 0 8px black inset;
}

/*--- Header ---*/

.header_floor {
	width:980px;
	height:72px;
	margin:0 auto;	
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.logo_link {
	width:138px;
	height:72px;	
	display:block;
	margin: 0 150px 0 0;
}

.logo {
	background-image:url(../_image/Logo.png);
	background-repeat:no-repeat;
	height:inherit;
	width:inherit;
}

.top_menu > menu {
	padding:0;
	margin:0 0 -1px 0;	
}

.top_menu .menu_items a {
	display:block;	
	border-left:1px solid #ddd;
	padding:0 18px;
	height:70px;
	line-height:4.6;
}

.top_menu .first_item {
	border-bottom:2px solid #BD2F35;	
}

.top_menu .menu_items a:hover {
	background-color:#BD2F35;
	color:white;
}

.search_box {
	margin:0;
	padding:0;	
}

search_form {
	padding:0;
	margin:0;
	border:none;
	outline:none;
}

.search {
	height:70px;
	width:118px;
	padding-left: 40px;
	padding-top:0;
	padding-bottom:0;
	padding-right:0;
	margin:0;
	font-size: 15px;
	color: #999;
	text-transform: uppercase;
	background-image:url(../_image/search.png);
	background-repeat:no-repeat;
	background-position:left;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:none;
	border-top:none;
}

/*--- SubMenu ---*/


/*--- Slideshow ---*/

.slideshow {
	height:500px;
	margin:0;
	padding:0;
	overflow:hidden;
}

.slideshow_floor {
	width:2000px;
	height:500px;	
}

.slideshow_floor menu {
	padding:0;
	margin:0;	
}

.slideshow_floor .slids {
	height:500px;
	width:320px;
	float:left;
	box-shadow:0 4px 20px black;
	transition:all .6s;
	-moz-transition:all .6s;
	-webkit-transition:all .6s;
	background-position:left;
	background-repeat:no-repeat;
}

.slideshow_floor .slids a {
	display:block;
	height:500px;	
}

.slideshow_floor .akhari {
	padding-right:200px;
}

.slideshow_floor menu:hover .slids {
	width:150px;	
}

.slideshow_floor menu .slids:hover {
	width:830px;	
	transition:all .3s;
	-moz-transition:all .3s;
	-webkit-transition:all .3s;
}

.s1 {
	background-image:url(../_image/slide1.jpg);
}

.s2 {
	background-image:url(../_image/slide2.png);
}

.s3 {
	background-image:url(../_image/slide3.png);

}

.s4 {
	background-image:url(../_image/slide4.png);
}

/*--- Features ---*/

.features {
	padding:20px 0;
	margin:0;
	background: #B22026;
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background-image: radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);	
}

.features_floor {
	width:1008px;
	margin:20px auto 10px;
}

.panel_items {
	width:320px;
	color:white;
	margin: 0 20px 30px 0;
}

.panel_items img {
	margin: 0 15px 0 0;	
}

.feature_text h3 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:17px;
	margin:20px 0 5px 0;
}

.feature_text h4 {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	margin:0 5px 2px 110px;
}

/*--- About ---*/

.about {
	background: #6F2526;
	background: -moz-radial-gradient(center, ellipse farthest-corner, #A0383A 0%, #4C1B1B 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, #A0383A 0%, #4C1B1B 100%);
	background: -webkit-radial-gradient(center, ellipse farthest-corner, #A0383A 0%, #4C1B1B 100%);
	background: radial-gradient(ellipse farthest-corner at center, #A0383A 0%, #4C1B1B 100%);	
	padding:20px 0;
	border-top: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	margin:0;
}

.about_floor {
	width:1000px;
}

.text_about h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:white;
	border-bottom:1px solid white;
}

.text_about {
	width:335px;
	padding:5px;	
}

.text_about span {
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:white;
}

.about_menu_items {
	color:white;
	min-width:100px;
	height:21px;
	margin:5px;
	padding:5px 5px 5px 25px;
	background-image:url(../_image/li%20check.png);
	background-position:left;
	background-repeat:no-repeat;	
}

.images_about {
	width: 550px;
	margin: 40px 5px 20px 80px;
}

.images_about a img {
	transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;	
}

.images_about a:hover img {
	z-index:20;
	transform:scale(1.3 , 1.3);
	-moz-transform:scale(1.3 , 1.3);
	-webkit-transform:scale(1.3 , 1.3);
	-o-transform:scale(1.3 , 1.3);
	box-shadow:3px 3px 10px black;	
}

/*--- Team ---*/

.team {
	margin:0;
	padding:0;
	background: #B22026;
	background: -moz-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background: -webkit-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background: radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);	
}

.team_floor {
	margin:50px 0;
}

.text_team {
	text-align:center;
	color:white;	
}

.text_team h1 {
	text-transform:uppercase;
	font-size:40px;
	font-family: 'Signika', sans-serif;
	margin:10px 0;	
}

.text_team span {
	text-transform:capitalize;
	margin:0;
}

.slider_team {
	width:900px;
	padding:40px 0;
}

.slider_team section {
	width:200px;
	height:200px;
	margin:5px 30px 5px 0;
	border-radius:200px;
	text-align:center;
	box-shadow:0 0 15px black inset;	
}

.slider_team section a {
	display:none;
	height:100%;
	width:100%;
	border-radius:200px;
	text-transform:capitalize;
	font-family: 'Signika', sans-serif;
	font-size:20px;
	color:white;
}

.slider_team section:hover a {
	display:block;
	background-color:rgba(0,0,0,.4);	
}

.slider_team section a span {
	padding: 100px 0 5px 0;
	display:block;	
}

.slider_team_item1 {
	background-image:url(../_image/team_1.jpg);
	background-repeat:no-repeat;
	background-position:center;	
}

.slider_team_item2 {
	background-image:url(../_image/team_2.jpg);
	background-repeat:no-repeat;
	background-position:center;	
}


.slider_team_item3 {
	background-image:url(../_image/team_3.jpg);
	background-repeat:no-repeat;
	background-position:center;	
}


.slider_team_item4 {
	background-image:url(../_image/team_4.jpg);
	background-repeat:no-repeat;
	background-position:center;	
}

/*--- Main ---*/

.main {
	background: #40393B;
	border-top: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	padding:0 20px;
	margin:0;
	color:white;
}

.main_floor {
	width:830px;
	margin:0 auto;
	padding:20px 0;	
}

.techno ,
.contact {
	margin-right:20px;	
}

.techno ,
.contact ,
.links {
	width:260px;
	font-size:14px;
}

.main h3 {
	border-bottom:1px solid gray;	
	font-size:20px;
}

.techno a {
	border:1px solid rgba(255,255,255,.5);
	display:block;
	opacity:.5;
}

.techno a:hover {
	opacity:1;
	background-color: rgba(255,255,255,.1);
	border:1px solid rgba(255,255,255,1);	
}

.contact section {
	border-bottom:1px solid gray;	
	padding:10px 5px;
}

.follow section {
	padding:5px 10px;		
}

.link_icon {
	padding:5px;
	margin:0 5px;	
}

.follow a {
	font-size:25px;
	color:rgba(255,255,255,.4);	
}

.follow a:hover {
	color: rgba(255,255,255,1);	
}

.links a {
	display:block;
	padding:10px 0;
	color:white;
	text-transform:capitalize;
	text-align:center;
}

.links a:hover {
	background-color:rgba(255,255,255,.05);	
}

/*--- Map ---*/

.map {
	overflow:hidden;
	padding:0;
	margin:0;	
}

.map_box {
	width:1300px;	
}

.map > iframe {
	margin:0;
	padding:0;
}

/*--- Footer ---*/

footer {
	background: #40393B;
	border-top: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	color:white;
	margin:0;
	padding:0;	
}

.footer_box {
	width:900px;	
}

.copyright {
	width:600px;
	padding:10px 0;	
	margin:20px 0;
	font-size:15px;
}

.top_btn {
	width:50px;
	height:50px;
	margin:30px 0 30px 200px;	
}

.top_btn a {
	color:white;	
	font-size:20px;
}