.grids > * {
	outline:1px dashed black;	
}

.grids > * > * {
	outline:1px dashed red;	
}

.grids > * > * > * {
	outline:1px dashed blue;	
}

.grids > * > * > *  > *{
	outline:1px dashed green;	
}

.grids > * > * > *  > * > *{
	outline:1px dashed white;	
}

a {
	text-decoration:none;	
}

/*--- Buttons ---*/

.more_btn {
	text-align:center;
	margin:15px auto;	
	width:150px;
	height:25px;
}

.more_btn a {
	display:block;
	color:white;
	width:inherit;
	height:inherit;
	background-color:transparent;
	box-shadow:0 0 5px black;
	text-transform:capitalize;
	border-radius:5px;
	font-family: 'Open Sans', sans-serif;
	font-size:15px;	
	padding:5px 10px;
	line-height:25px;	
}

.more_btn a:hover {
	box-shadow:0 0 8px black inset;
}

/*--- Header ---*/

.header_floor {
	width:980px;
	height:72px;
	margin:0 auto;	
	text-transform:uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.logo_link {
	width:138px;
	height:72px;	
	display:block;
	margin: 0 150px 0 0;
}

.logo {
	background-image:url(../_image/Logo.png);
	background-repeat:no-repeat;
	height:inherit;
	width:inherit;
}

.top_menu {
	height:72px;
}

.top_menu menu {
	padding:0;
	margin:0 0 -1px 0;	
}

.top_menu .menu_items a {
	display:block;	
	border-left:1px solid #ddd;
	padding:0 20px;
	height:72px;
	line-height:72px;
}

.top_menu .menu_items a:hover {
	background-color:#BD2F35;
	color:white;	
}

search_form {
	padding:0;
	margin:0;
	border:none;
	outline:none;
	
}

.search {
	height:70px;
	width:118px;
	padding-left: 40px;
	padding-top:0;
	padding-bottom:0;
	padding-right:0;
	margin:0;
	font-size: 15px;
	color: #999;
	text-transform: uppercase;
	background-image:url(../_image/search.png);
	background-repeat:no-repeat;
	background-position:left;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-bottom:none;
	border-top:none;
}

/*--- Slideshow ---*/

.slidshow {
	height:500px;
	margin:0;
	padding:0;
	overflow:hidden;	
}

.slideshow_floor {
	width:2000px;
	height:500px;	
}

.slideshow_floor menu {
	padding:0;
	margin:0;	
}

.slideshow_floor .slids {
	height:500px;
	width:320px;
	float:left;
	box-shadow:0 5px 10px black;
	transition:all .6s;
	-moz-transition:all .6s;
	-webkit-transition:all .6s;
	background-position:left;
	background-repeat:no-repeat;
}

.slideshow_floor .slids a {
	display:block;
	height:500px;	
}

.slideshow_floor .slids:last-child {
	padding-right:300px;
}

.slideshow_floor menu:hover .slids {
	width:150px;	
}

.slideshow_floor menu .slids:hover {
	width:830px;	
	transition:all .3s;
	-moz-transition:all .3s;
	-webkit-transition:all .3s;
}

.s1 {
	background-image:url(../_image/slideshow.gif);
}

.s2 {
	background-image:url(../_image/slideshow.gif);
}

.s3 {
	background-image:url(../_image/slideshow.gif);

}

.s4 {
	background-image:url(../_image/slideshow.gif);
}

/*--- Features ---*/

.features {
	padding:20px 0;
	margin:0;
	background: #B22026;
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background-image: radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);	
}

.features_floor {
	width:1008px;
	margin:20px auto 10px;
}

.panel_items {
	width:320px;
	color:white;
	margin: 0 20px 30px 0;
}

.panel_items img {
	margin: 0 15px 0 0;	
}

.feature_text h3 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:17px;
	margin:20px 0 5px 0;
}

.feature_text h4 {
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	margin:0 5px 2px 110px;
}

/*--- About ---*/

.about {
	background: #6F2526;
	background: -moz-radial-gradient(center, ellipse farthest-corner, #A0383A 0%, #4C1B1B 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, #A0383A 0%, #4C1B1B 100%);
	background: -webkit-radial-gradient(center, ellipse farthest-corner, #A0383A 0%, #4C1B1B 100%);
	background: radial-gradient(ellipse farthest-corner at center, #A0383A 0%, #4C1B1B 100%);	
	padding:20px 0;
	border-top: 1px solid rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	margin:0;
	padding:0;
}

.about_floor {
	margin:0 125px;	
}

.text_about h2 {
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-size:30px;
	color:white;
	border-bottom:1px solid white;
}

.text_about {
	width:335px;
	padding:5px;	
}

.text_about span {
	font-family: Arial,Helvetica,sans-serif;
	font-size:15px;
	color:white;
}

.about_menu_items {
	color:white;
	min-width:100px;
	height:21px;
	margin:5px;
	padding:5px 5px 5px 25px;
	background-image:url(../_image/li%20check.png);
	background-position:left;
	background-repeat:no-repeat;	
}

.images_about {
	width: 550px;
	margin: 40px 5px 20px 80px;
}

.images_about a img {
	transition:all .2s;
	-moz-transition:all .2s;
	-o-transition:all .2s;
	-webkit-transition:all .2s;	
}

.images_about a:hover img {
	z-index:20;
	transform:scale(1.3 , 1.3);
	-moz-transform:scale(1.3 , 1.3);
	-webkit-transform:scale(1.3 , 1.3);
	-o-transform:scale(1.3 , 1.3);
	box-shadow:3px 3px 10px black;	
}

/*--- Team ---*/

.team {
	margin:0;
	padding:0;
	background: #B22026;
	background: -moz-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background: -o-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background: -webkit-radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);
	background: radial-gradient(center, ellipse farthest-corner, #CA333A 0%, #8E1D20 100%);	
}

.team_floor {
	margin:50px 0;
}

.text_team {
	text-align:center;
	color:white;	
}

.text_team h1 {
	text-transform:uppercase;
	font-size:40px;
	font-family: 'Signika', sans-serif;
	margin:10px 0;	
}

.text_team span {
	text-transform:capitalize;
	margin:0;
}